*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100vw;
    padding: 20px 120px;
    /* display: flex; */
    /* flex-wrap:wrap-reverse; */
    /* flex-wrap: wrap;/ */
    
    /* margin: auto; */

}

ul{
    /* width: 30%; */
    list-style: none;
    /* display: inline-block; */
    border: 2px solid black;
}

.list-ele{
    /* display: inline-block; */
    /* width: 200px;/  */
    list-style: none;
    /* display: inline-block; */
    font-size: 20px;
    padding: 20px;
    margin: 20px 20px;
    /* border: 2px solid black; */
   
}

ul{
    display: flex;
    width: 30%;
    
    flex-wrap: wrap;
}


.all-recipes{
    width: 30%;
    /* display: flex; */
    border: 2px solid blue;

    margin: 20px 25px;
}
img{
    display: inline-block;
    width: 50%;

}